<div class="center">

  <div class="w-full max-w-md py-5 bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-4">

      <div id="dropdown"
        class="z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 block"
        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(455px, 83px);"
        data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
        {{!-- <ul class="py-1" aria-labelledby="dropdownButton">
          <li>
            <a href="#"
              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export
              Data</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-4 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
          </li>
        </ul> --}}
      </div>
    </div>
    <div class="flex flex-col items-center pb-10">
      <img class="mb-3 w-24 h-24 rounded-full shadow-lg"
        src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Bonnie image">
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> {{user.user.name}} </h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Visual Designer</span>
      <div class="flex mt-4 space-x-3 md:mt-6">
        <a href="#"
          class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Follow</a>
        <a href="#"
          class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Edit
          Profile</a>
        <a href="/auths/logout"
          class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-red-900 bg-red rounded-lg border border-red-300 hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-red-800 dark:text-white dark:border-red-600 dark:hover:bg-red-700 dark:hover:border-red-700 dark:focus:ring-red-700">Logout</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">

    <div id="parent" class="grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8 sm:gap-12 xl:gap-16">

      {{#each data}}
      <!-- article - start -->
      <div class="searchitem flex flex-col md:flex-row items-center gap-4 lg:gap-6">
        <div href=""
          class="group w-full md:w-24 lg:w-40 h-56 md:h-24 lg:h-40 block self-start shrink-0 bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
          <img src="https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?auto=format&q=75&fit=crop&w=600"
            loading="lazy" alt="Photo by Martin Sanchez"
            class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" />
        </div>

        <div class="flex flex-col gap-2">
          <h5 href="/blogs/{{this._id}}" class="text-gray-400 text-sm">{{this.title}} </h5>

          <h2 class="text-gray-800 text-xl font-bold">
            <h5 href="/blogs/{{this._id}}" class="hover:text-indigo-500 active:text-indigo-600 transition duration-100">
              {{this.category}}</h5>
          </h2>

          <p class="max-width text-gray-500">{{this.content}}</p>

          <div>
            <a href="/blogs/{{this._id}}"
              class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 font-semibold transition duration-100">Read
              more</a>
          </div>
          <div>
            <a href="/blogs/edit/{{this._id}}"
              class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 font-semibold transition duration-100">
              Edit</a>
          </div>
        </div>
      </div>
      {{/each}}
      <!-- article - end -->
    </div>
  </div>
</div>

